body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

body > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.basic-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

.ads-layout {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
        'header header'
        'main ads'
        'footer footer';
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-area: main;
    padding: 2rem;
}

aside {
    grid-area: ads;
    padding: 2rem;
    background-color: pink;
}

.counter {
    display: flex;
    gap: 0.2rem;
}
.counter > button {
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    line-height: 1em;
}
.counter > span {
    padding: 0 1.5rem;
    font-size: 1.6rem;
    line-height: 3rem;
}

.page-title {
    font-size: 3rem;
}
.page-title button {
    font-size: 0.7em;
    padding: 0.1em 0.3em;
}
.page-description {
    font-size: 1.4rem;
}

.error {
    padding: 2rem;
    border: 0.2rem dashed red;
    border-radius: 0.4rem;
}